@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 23, 67, 52;
  --background-start-rgb: 240, 237, 230;
  --background-end-rgb: 240, 237, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  @apply font-sans;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

html {
  scroll-behavior: smooth;
}
